/* MOBILE */




/*  */
/* @media(max-width: 768px) {
    p{
        margin: 0;
    }
} */

header {
    width: 100%;
    height: 12vh;
    background-color: #6D6DD1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}
@media(max-width: 768px) {
    header{
        width: 100%;
    }
}

.background-image{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}
.back-img{
    width: 110rem;
}
@media(max-width: 768px) {
    .back-img{
        width: 40rem;
    }
}

.position{
    width: 85%;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    color: #ffff;
}
@media(max-width: 768px) {
    .position{
        display: none;
    }
}

.title-class {
    width: 311px;
    height: 46px;
    background-color: #58C7E4;
}
.title{
    text-align: left;
    font-size: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    padding-left: 1rem;
}
.description-class{
    width: 28rem;
}
.description{
    font-size: 30px;
}

.span-lg {
    display: flex;
    justify-content: center;
    position: absolute;
}
@media(max-width: 768px) {
    span-lg{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
    }
}



.logo{
    width: 11rem;
}


.social-icons{
    width: 2rem;
}

.social{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 8%;
}
@media(max-width: 768px) {
    .social{
        display: none;
    }
}
.social-botom{
    width: 7rem;
    background-color: #ffff;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 2%;
    text-transform: uppercase;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.titleinbox{
    width: 100%;
    margin-left: 12.6rem;
    text-transform: uppercase;
    font-size: 10px;
}
.titleinbox-2{
    width: 100%;
    margin-left: 12.6rem;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 12rem;
}
@media(max-width: 768px) {
    .titleinbox{
        margin-left: 9.3rem;
    }
    .titleinbox-2{
        margin-left: 9.3rem;
    }
}


.news-box{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 22rem;
}
.imagens-news{
    width: 30rem;
    height: 18rem;
    margin: 1rem;
    /* margin-bottom: 40%; */
}
.titles-news{
    width: 30rem;
    font-size: 15px;
    margin-left: 1rem;
    text-transform: uppercase;
}
.titles-news a{
    color: #27ACCF;
    text-decoration: none;
}
.description-news{
    width: 30rem;
    font-size: 15px;
    margin-left: 1rem;
}


.line-separation1{
    width: 95rem;
    height: 1px;
    background-color: #707070;
    margin: 6rem;
}



.content-boxExtras{
    width: 100%;
    display: flex;
    margin-bottom: 18rem;
}
@media(max-width: 768px) {
    .content-boxExtras{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



.images-extras {
    width: 15rem;
    margin-bottom: 8%;
}

.extras-box{
    width: 526px;
    margin-left: 11.8rem;
}
@media(max-width: 768px) {
    .extras-box{
        margin-left: 0;
        margin-bottom: 8rem;
    }
}
.h1-extras{
    font-size: 25px;
    color: #27ACCF;
    margin-bottom: 3rem;
}


.span-extras-d{
    height: 353px;
    top: 3025px;
    left: 141px;
}
.texts-extras_{
    width: 484px;
    font-size: 20px;
    color: #000000;
}
.texts-extras{
    width: 484px;
    font-size: 20px;
    color: #000000;
    border-top-style: solid;
    border-color:  #707070;
    padding-top: 25px;
}



.extras-box-top{
    width: 526px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.h1-extras-top{
    color: #CF5454;
    font-size: 25px;
    margin-bottom: 3rem;
}

.span-images-extras{
    display: flex;
    align-items: center;
}

.span-texts-extras{
    display: flex;
    align-items: center;
}

.h1-verdadis{
    color: #CF5454;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 4px;
    margin-left: 2rem;
}
.p-euzis {
    font-size: 15px;
    width: 9.3rem;
    margin: 0;
    margin-left: 2rem;
}



.footer-color{
    width: 100%;
    height: 8vh;
    background-color: #6D6DD1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.toTop{
    font-size: 20px;
    text-decoration: none;
    color: #ffff;
    margin-right: 6rem;
}
footer {
    width: 100%;
    height: 15vh;
    background-color: #4F4F72;
    opacity: 1;
}