html, *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
}

.container_header{
  width: 100%;
  height: 18vh;
  background: #9C0B0E;
  display: flex;
  margin-bottom: 4rem;
}

.box_image_header{
  width: 55%;
  height: 100%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.image_logo{
  width: 30%;
}

.box_btn_header{
  width: 45%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4rem;
}

.btn{
  width: 18%;
  height: 25%;
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-style: none;
}

.img_btn{
  height: 50%;
  margin-right: 6px;
}

.text_btn{
  font-size: 0.8rem;
}
